<a href="https://colab.research.google.com/github/ankitapurkayastha/python/blob/master/coursesession_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
score=int(input("enter your score:"))
passing=40
distinction=90

enter your score:30

In [0]:
if score >= distinction:
  print("you are at top")
 
if score <= passing:
  print("you have passed")

you have passed

In [0]:
if score >= distinction:
  print("you are at top")
elif score < passing:
  print("sorry you have failed")

sorry you have failed

In [0]:
statement="the coffee is bad"
if 'bad' in statement:
  print("bad review")
else:
  print("good review")

bad review

In [0]:
num=int(input("enter a number"))
if num%4==0:
  print("even")
else:
  print("not divisible by 4")

enter a number45
not divisible by 4

In [0]:
for i in range(1,5):
  print(i)

1
2
3
4

In [0]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [0]:
my_string=("mary had an elephant")
for alphabets in my_string:
  print(alphabets)

m
a
r
y

h
a
d

a
n

e
l
e
p
h
a
n
t

In [0]:
my_string=("mary had an elephant")
for n, alphabet in enumerate(my_string):
  print(alphabet, n)

m 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
n 10
  11
e 12
l 13
e 14
p 15
h 16
a 17
n 18
t 19

In [0]:
for i in range(100):
    print(i)
    if i>50:
        pass
        print("Hello")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
Hello
52
Hello
53
Hello
54
Hello
55
Hello
56
Hello
57
Hello
58
Hello
59
Hello
60
Hello
61
Hello
62
Hello
63
Hello
64
Hello
65
Hello
66
Hello
67
Hello
68
Hello
69
Hello
70
Hello
71
Hello
72
Hello
73
Hello
74
Hello
75
Hello
76
Hello
77
Hello
78
Hello
79
Hello
80
Hello
81
Hello
82
Hello
83
Hello
84
Hello
85
Hello
86
Hello
87
Hello
88
Hello
89
Hello
90
Hello
91
Hello
92
Hello
93
Hello
94
Hello
95
Hello
96
Hello
97
Hello
98
Hello
99
Hello

In [0]:
start=20
total=1
while start<51:
  total+=start
  start+=1
  print(start)
print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1086