<a href="https://colab.research.google.com/github/ankitapurkayastha/python/blob/master/pyhton100119_exercise5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#1.	Get the last two rows of df whose row sum is greater than 100
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
rowsums=df.apply(np.sum,axis=1)
print(rowsums)#last two rows with row sum greater than 100
last_two_rows=df.iloc[np.where(rowsums>100)[0][-2:],:]
last_two_rows

0     118
1      80
2     118
3      78
4      80
5     104
6      89
7      82
8      56
9      73
10    116
11     90
12    118
13     64
14    107
dtype: int64

     0   1   2   3
12  28  24  36  30
14  12  18  39  38

In [8]:
#2.	Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

ser = pd.Series(np.logspace(-2, 2, 30))
def cap_outliers(ser,low_perc,high_perc):
  low,high=ser.quantile([low_perc,high_perc])
  print(low_perc,'%ile:',low,'|',high_perc,'%ile:',high)
  ser[ser<low]=low
  ser[ser>high]=high
  return(ser)
capped_ser=cap_outliers(ser,0.05,.95)

(0.05, '%ile:', 0.016049294076965887, '|', 0.95, '%ile:', 63.876672220183934)

In [9]:
#3.	Swap rows 1 and 2 in df.
df = pd.DataFrame(np.arange(25).reshape(5, -1))
def swap_rows(df,i1,i2):
  a,b=df.iloc[i1,:].copy(),df.iloc[i2,:].copy()
  df.iloc[i1,:],df.iloc[i2,:]=b,a
  return df
print(swap_rows(df,1,2))

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24