In [12]:
import pandas as pd
import numpy as np
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
sum=((p-q)**2)**5
print(sum)

0    3486784401
1     282475249
2       9765625
3         59049
4             1
5             1
6         59049
7       9765625
8     282475249
9    3486784401
dtype: int64

In [14]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
dd=np.diff(np.sign(np.diff(ser)))
peak_locs=np.where(dd==-2)[0]+1
print(peak_locs)

[1 5 7]

In [17]:
my_str = 'dbc deb abed gade'
ser=pd.Series(list('dbc deb abed gade'))
freq=ser.value_counts()
print(freq)
least_freq=freq.dropna().index[-1]
"".join(ser.replace(' ',least_freq))

d    4
     3
e    3
b    3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

In [19]:
ser=pd.Series(np.random.randint(1,10,10),pd.date_range('2000-01-01',periods=10,freq='W-SAT'))
ser

2000-01-01    9
2000-01-08    2
2000-01-15    1
2000-01-22    8
2000-01-29    4
2000-02-05    4
2000-02-12    1
2000-02-19    4
2000-02-26    3
2000-03-04    2
Freq: W-SAT, dtype: int32

In [20]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [21]:
ser.resample('D').bfill()#fill with previous sample values
ser

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

bootstrapping

In [22]:
#fill next else prev value
ser.resample('D').ffill()

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [23]:
ser.resample('D').ffill().bfill()
ser

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64