<a href="https://colab.research.google.com/github/ankitapurkayastha/python/blob/master/python_100119_exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.sort_index(axis=1,ascending=False,inplace=True)
df

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

In [7]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)
df
#show all avalilable option
#pd.describe_option()

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

In [8]:
#rounding-question7
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df
#>          random
#> 0  3.474280e-03
#> 1  3.951517e-05
#> 2  7.469702e-02
#> 3  5.541282e-28

df.round(4)

   random
0  0.0000
1  0.3232
2  0.0001
3  0.0000

In [10]:
#solution 2
#use apply to change format
df.apply(lambda x:'%.4f'%x,axis=1)
#or
df.applymap(lambda x:'%.4f'%x)

#solution 3 use of set option
pd.set_option('display.float_format',lambda x:'%.4f'%x)

   random
0  0.0000
1  0.3232
2  0.0001
3  0.0000

In [17]:
#solution4 assign display float _format- for the question7

pd.options.display.float_format='{:.4f}'.format
print(df)

#reset/undo float formatting

   random
0  0.0771
1  0.0432
2  0.0752
3  0.1720

In [19]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.options.display.float_format=None
print(df)

         random
0  1.115492e-06
1  2.346086e-01
2  5.316970e-06
3  2.162768e-07

In [23]:
#format the values in column 'random' of df as percentages
df = pd.DataFrame(np.random.random(4), columns=['random'])
out=df.style.format({'random':'{0:.2%}'.format,})
out
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082

In [24]:
#9.	From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.iloc[::20,:][['Manufacturer','Model','Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [28]:
#10.	In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
df[['Manufacturer','Model','Type']]=df[['Manufacturer','Model','Type']].fillna('missing')
df.index=df.Manufacturer+''+df.Model+''+df.Type
print(df.index.is_unique)
df

#df is printed  then the values will come
#if u put TRUE as print, then only true will come and values will not come

True

                        Manufacturer    Model     Type  Min.Price  Max.Price
AcuraIntegraSmall              Acura  Integra    Small       12.9       18.8
missingLegendMidsize         missing   Legend  Midsize       29.2       38.7
Audi90Compact                   Audi       90  Compact       25.9       32.3
Audi100Midsize                  Audi      100  Midsize        NaN       44.6
BMW535iMidsize                   BMW     535i  Midsize        NaN        NaN
...                              ...      ...      ...        ...        ...
VolkswagenEurovanVan      Volkswagen  Eurovan      Van       16.6       22.7
VolkswagenPassatCompact   Volkswagen   Passat  Compact       17.6       22.4
VolkswagenCorradoSporty   Volkswagen  Corrado   Sporty       22.9       23.7
Volvo240Compact                Volvo      240  Compact       21.8       23.5
missing850Midsize            missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]

In [29]:
#Find the row position of the 5th largest value of column 'a' in df.
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
n=5
df['a'].argsort()[::-1][n]

4

In [32]:
#12.	In ser, find the position of the 2nd largest value greater than the mean.
ser = pd.Series(np.random.randint(1, 100, 15))
print('ser:',ser.tolist(),'mean:',round(ser.mean()))
np.argwhere(ser>ser.mean())[1]
ser

ser: [95, 80, 36, 59, 59, 97, 32, 23, 85, 75, 32, 57, 45, 86, 20] mean: 59.0

0     95
1     80
2     36
3     59
4     59
      ..
10    32
11    57
12    45
13    86
14    20
Length: 15, dtype: int64