1.	Get the last two rows of df whose row sum is greater than 100.

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   13  15  26  11
1   19  28  27  32
2   16  36  26  18
3   27  34  37  29
4   16  34  30  18
5   17  39  31  36
6   19  30  17  24
7   32  10  24  25
8   12  39  28  18
9   10  37  15  11
10  38  36  31  15
11  26  38  39  14
12  31  19  11  24
13  37  17  21  30
14  24  18  34  27

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)
rowsums=df.apply(np.sum,axis=1)
last_two_rows=df.iloc[np.where(rowsums>100)[0][-2:],:]
print(last_two_rows)

     0   1   2   3
0   11  39  38  10
1   17  11  30  10
2   24  12  22  13
3   28  19  11  24
4   28  17  14  37
5   35  30  18  18
6   16  32  14  33
7   25  24  25  15
8   16  31  29  20
9   30  33  19  34
10  21  18  35  29
11  21  13  24  37
12  26  27  17  33
13  38  23  19  18
14  16  20  15  12
     0   1   2   3
10  21  18  35  29
12  26  27  17  33

In [7]:
#Q2
ser = pd.Series(np.logspace(-2, 2, 30))
print(ser)
def cap_outliers(ser,low_perc,high_perc):
  low,high=ser.quantile([low_perc,high_perc])
  print(low_perc,'%ile:',low,'|',high_perc,'%ile:',high)
  ser[ser<low]=low
  ser[ser>high]=high
  return ser
capped_ser=cap_outliers(ser,0.05,0.95)

0       0.010000
1       0.013738
2       0.018874
3       0.025929
4       0.035622
5       0.048939
6       0.067234
7       0.092367
8       0.126896
9       0.174333
10      0.239503
11      0.329034
12      0.452035
13      0.621017
14      0.853168
15      1.172102
16      1.610262
17      2.212216
18      3.039195
19      4.175319
20      5.736153
21      7.880463
22     10.826367
23     14.873521
24     20.433597
25     28.072162
26     38.566204
27     52.983169
28     72.789538
29    100.000000
dtype: float64
0.05 %ile: 0.016049294076965887 | 0.95 %ile: 63.876672220183934

In [8]:
#Q3
df = pd.DataFrame(np.arange(25).reshape(5, -1))
print(df)
def swap_rows(df,i1,i2):
  a,b=df.iloc[i1,:].copy(),df.iloc[i2,:].copy()
  df.iloc[i1,:],df.iloc[i2,:]=b,a
  return df
print(swap_rows(df,1,2))

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

4.	Reverse all the rows of dataframe df.

In [4]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.iloc[::-1,1]

4    21
3    16
2    11
1     6
0     1
Name: 1, dtype: int32

In [5]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
print(df.loc[df.index[::-1],:1])

    0   1
4  20  21
3  15  16
2  10  11
1   5   6
0   0   1

5.	Get one-hot* encodings for column 'a' in the dataframe df and append it as columns.

In [10]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
df_onehot=pd.concat([pd.get_dummies(df['a']),df[list('bcde')]],axis=1)
print(df_onehot)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

6.	Obtain the column name with the highest number of row-wise maximumâ€™s in df

In [11]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
print('Column with highest rows maxes:',df.apply(np.argmax,axis=1).value_counts().index[0])

Column with highest rows maxes: 2

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:51: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)

7.	Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

In [12]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#solution 
#import numpy as np
#df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
#df

    p   q   r   s
a  79   3  30   9
b  59  98  73  44
c  70  36   7  31
d   7  87  50   1
e  23  28  86  54
f   4  74  42  65
g  25  45  28  87
h  94  36  62  25
i  26  66  62  28
j  39  11  94  80

In [14]:
#init  outputs
nearest_rows=[]
nearest_distance=[]
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df

    p   q   r   s
a  27  31  27  26
b  90  52  70  54
c  31   2  56   8
d   9  80  80  86
e  14  20  40  14
f  74  59  63  80
g  49  67  79  15
h  48  70  23  11
i  19  24   9  24
j  18  26  62  21

In [16]:
#iterate rows
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
for i, row in df.iterrows():
    curr=row
    rest=df.drop(i)
    e_dist={}#init dict to store euclidean dist for current rows
df

    p   q   r   s
a  70  67  87  21
b  26  53  16  78
c  42  44  94  14
d  23  71  59  84
e  63  36  18  51
f  10  42  75  21
g  17  33  57  17
h  17  56  22  40
i  43  42  14  76
j  79  65  93  66

#ITERATE rest of rows for current row

In [4]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
for j, contestant in rest.iterrows():
    e_dists.update({j: round(np.linalg.norm(curr.values - contestant.values))})
    nearest_rows.append(max(e_dists, key=e_dists.get))
nearest_distance.append(max(e_dists.values()))
df['nearest_row'] = nearest_rows
df['dist'] = nearest_distance

# compute euclidean dist and update e_dists
    
# update nearest row to current row and the distance value

NameError: name 'pd' is not defined