In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]

[0.31, -0.4, -0.02, 0.06, -0.03, -0.14, -0.17]

In [4]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df

    0   1   2   3   4   5   6   7   8   9
0  56  87  70  72   6  57  66  79  57  97
1  86  91  72  38   7   1  97  41  61  18
2  27  82  99  51  73  47  46  49  84  37
3   8  69  15  95  16  32  60  45  47   7
4  21  65  30  71  73  42  74  38  35  18
5  77  47  28  16  81  59  73  54  86   1
6   1  81  60  76  48  41  31  93  82  67
7  95  64  47  21  47  31  43  16  38  52
8  21  37  77  67  89  41  66  20  52  87
9  14  76  45  29  65  26  81  15  57  35

In [5]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
df_grouped.get_group('apple')

    col1      col2  col3
0  apple  0.887906     0
3  apple  0.861400     2
6  apple  0.225154     5

In [20]:
#4.	In df, find the second largest value of 'taste' for 'banana'
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9),#0 is for mean 10 is for variance and 9 is for the numbers
                   'taste': ['sweet','salty','sour']*3})
print(df)

df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

    fruit    rating  price  taste
0   apple  0.105821      2  sweet
1  banana  0.410555     14  salty
2  orange  0.011355      1   sour
3   apple  0.925224     11  sweet
4  banana  0.251544      5  salty
5  orange  0.195422     14   sour
6   apple  0.130847      8  sweet
7  banana  0.513456      0  salty
8  orange  0.679162      7   sour

'salty'

5.	In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

In [21]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  9.000000
1  banana  7.333333
2  orange  9.333333

6.	Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [37]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})
print(df1)

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
print(df2)

pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], suffixes=['_left', '_right'])

    fruit  weight  price
0   apple    high      2
1  banana  medium     10
2  orange     low      8
3   apple    high     13
4  banana  medium      7
5  orange     low      8
6   apple    high      2
7  banana  medium      9
8  orange     low     14
   pazham  kilo  price
0   apple  high      5
1  orange   low     14
2    pine  high     14
3   apple   low     13
4  orange  high      9
5    pine   low     13

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           2   apple  high            5
1   apple   high          13   apple  high            5
2   apple   high           2   apple  high            5
3  orange    low           8  orange   low           14
4  orange    low           8  orange   low           14
5  orange    low          14  orange   low           14

7.	From df1, remove the rows that are present in df2. All three columns must be the same.

In [44]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})
print(df1)
df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
print(df2)
print(df1[~df1.isin(df2).all(1)])

    fruit  weight  price
0   apple    high      1
1  banana  medium      9
2  orange     low     10
3   apple    high      9
4  banana  medium     11
5  orange     low     10
6   apple    high     14
7  banana  medium      4
8  orange     low      2
   pazham  kilo  price
0   apple  high      7
1  orange   low     14
2    pine  high      3
3   apple   low      0
4  orange  high      7
5    pine   low      3
    fruit  weight  price
0   apple    high      1
1  banana  medium      9
2  orange     low     10
3   apple    high      9
4  banana  medium     11
5  orange     low     10
6   apple    high     14
7  banana  medium      4
8  orange     low      2

8.	Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [45]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df['a_lag1']=df['a'].shift(1)
df['b_lead1']=df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  24  42  41  56     NaN     52.0
1  44  52  49  38    24.0      1.0
2  46   1  95  56    44.0      8.0
3  24   8  18   8    46.0     44.0
4  26  44  70  93    24.0      NaN

9.	Get the frequency of unique values in the entire dataframe df.

In [50]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
pd.value_counts(df.values.ravel())#ravel hsows one dimesnional array

4    4
7    3
5    3
1    3
9    2
8    2
3    2
2    1
dtype: int64

10.	Split the string column in df to form a dataframe with 3 columns as shown.

In [53]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)

                          row
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

In [59]:
#solution1
df_out=df.row.str.split(',|\t',expand=True)
df_out

     0                        1
0  STD            City    State
1   33   Kolkata    West Bengal
2   44    Chennai    Tamil Nadu
3   40   Hyderabad    Telengana
4   80   Bangalore    Karnataka

In [61]:
#make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

In [63]:
#11.	Compute the euclidean distance between two arrays a and b.
a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])
dist = np.linalg.norm(a-b) #LINALG IS FOR THE EUCLIDEAN DISTANCE
dist

6.708203932499369

12.	Compute the moving average of window size 3, for the given 1D array.

In [70]:
import numpy as np
np.random.seed(100)
Z = np.random.randint(10, size=10)
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=float)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n
np.random.seed(100)
Z = np.random.randint(10, size=10)
print('array: ', Z)

array:  [8 8 3 7 7 0 4 2 5 2]

In [71]:
moving_average(Z, n=3).round(2)

array([6.33, 6.  , 5.67, 4.67, 3.67, 2.  , 3.67, 3.  ])

In [75]:
#Method 2
# np.ones(3)/3 gives equal weights. Use np.ones(4)/4 for window size 4.
np.convolve(Z, np.ones(3)/3, mode='valid')

array([6.33333333, 6.        , 5.66666667, 4.66666667, 3.66666667,
       2.        , 3.66666667, 3.        ])